@font-face {
    font-family: "Archivo Narrow";
    src: url("fonts/ArchivoNarrow-BoldItalic.ttf");
}


html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

div {
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;

}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2.25rem;
    color: rgba(255, 255, 255, 0.952);
}

label {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.952);
}

p {
    font-size: 1rem;
    font-family: 'Archivo Narrow', sans-serif;
    color: rgba(255, 255, 255, 0.952);
}

a {
    font-size: 14px;
    text-decoration: none;
    font-family: 'Archivo Narrow', sans-serif;
    color: rgba(255, 255, 255, 0.952);
}

li {
    font-family: 'Archivo Narrow', sans-serif;
    color: rgba(255, 255, 255, 0.952);
}

/* Header */

#header_nav{

    display: flex;
    width: 100%;
    margin: auto;
    background-color: #5C5C5C;
}

#logo {
    width: 15%;
}

#logo img {
    width: 100%;
    height: 100%;
}

.login {
    padding: 1%;
    margin-top: auto;
    margin-bottom: auto;
}

.login img {
    width: 80%;
}

.nav_categorie {

    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 8vh;
    display: flex;
    justify-content: space-around;

}

.nav_categorie a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;

}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.nav_categorie li {
    list-style: none;
    margin: auto;
}

#content-header-right {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto 0;
    margin-top: auto;
    margin-bottom: auto;
}

::placeholder {
    color: rgba(255, 255, 255, 0.952);
    font-style: italic;

}

.content-header-right-nav {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 45%;
}

.content-header-right-nav a {
    text-align: center;
    margin: auto;
    padding-left: 20%;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.dropdown ul {
    margin: 0;
    padding: 0;
}

.dropdown-child {
    display: none;
    position: absolute;
    width: 430px;
    z-index: 1000;
    background-color: #026173;
}

.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.dropdown .showMore {
    margin-top: auto;
    margin-bottom: auto;
}



.dropdown:hover .dropdown-child {
    display: flex;
}

.dropdown-child li:hover,
.showMore:hover {
    color: white;
    text-decoration: underline;
}



@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;

}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}





/* Modal */
.btn-news-account:active,
.btn-modal {
    background-color: #026173;
}

.btn-news-account,
.btn-modal {
    background-color: #026173;
    opacity: 0.8;
    border: none;
}

.btn-news-account:hover,
.btn-modal:hover {
    opacity: 1;
    background-color: #026173;
    border: none;
}

.btn-close-modal {
    opacity: 0.5;
    background-color: #C51300;
    border: none;
}

.btn-close-modal:hover {
    background-color: #C51300;
    opacity: 1;

}

.modal-content {
    background-color: #5C5C5C;
}

#modalcomeUp_content {
    width: 100%;
}

.modalcomeUp_contentLeft {
    width: 100%;
}

.modalcomeUp_contentLeft img {
    width: 100%;
}

.modalcomeUp_contentRight {
    text-align: center;
    width: 100%;
}

.modal-dialog {
    max-width: 25%;
}


/* Section */

#intro-content {
    width: 100%;
    margin: auto;
    padding: 4%;
    background-color: white;
}

#comeUp-content {
    width: 100%;
    margin: auto;
    padding: 2%;
    background-color: white;
}

#intro-content>h2,
#intro-content>p,
#comeUp-content>h2,
#comeUp-content>p {

    text-align: center;
    color: black;
}

#news_content,
#critique_content,
#partage_content,
#commerce_content {
    width: 100%;
    margin: auto;

}

.news-content-body,
.critique-content-body,
.partage-content-body,
.commerce-content-body {
    padding: 3.5%;
    display: flex;
    width: 90%;
    margin: auto;
    transition: all 300ms ease-in;
    transform: scale(1);
    z-index: 1;

}




.news-content-body:hover,
.critique-content-body:hover,
.commerce-content-body:hover,
.partage-content-body:hover {
    z-index: 100;
    transition: all 400ms ease-in;
    transform: scale(1.08);
}

#critique_content,
#commerce_content {
    background-color: #5C5C5C;
}

.news_contentLeft {
    margin-top: auto;
    margin-bottom: auto;
    width: 35%;
}

.partage_contentLeft {
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

.critique_contentRight,
.commerce_contentRight {
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

.critique_contentLeft,
.commerce_contentLeft {

    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    padding: 4%;
    width: 50%;
}

.news_contentLeft img,
.critique_contentRight img,
.partage_contentLeft img,
.commerce_contentRight img {
    width: 100%;
}

.news_contentRight {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    padding: 4%;
    width: 65%;
}

.partage_contentRight {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    padding: 4%;
    width: 50%;
}

.btn_show {
    margin-top: 5%;
    padding: 0.5%;
    width: 150px;
    background-color: #026173;
    border: 0.5px solid white;
    transition: all 300ms ease-in;
    transform: scale(1);
    z-index: 1;
    text-decoration: none;
}

.btn_show:hover,
.btn_show a:hover {
    color: white;
    z-index: 100;
    transition: all 300ms ease-in;
    transform: scale(1.1);
}

/* Arrow */
.arrow_content {
    width: 100%;
}

.arrows {
    display: block;
    width: 60px;
    height: 72px;
    margin: auto;
    margin-top: 4%;
    text-align: center;
}

.arrows path {
    stroke: #026173;
    fill: transparent;
    stroke-width: 3px;
    animation: bounce 2s infinite, arrow 2s infinite;
    ;
    -webkit-animation: bounce arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    60% {
        opacity: 1
    }

    80% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
    {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    60% {
        opacity: 1
    }

    80% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
    }
}

.arrows path.a1 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari 和 Chrome */
}


@media screen and (max-width:1024px) {
    body {
        overflow-x: hidden;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'Archivo Narrow', sans-serif;
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.952);
    }

    p {
        font-size: 1rem;
        font-family: "Geometria";
        color: rgba(255, 255, 255, 0.952);
    }

    a {
        font-size: 10px;
        text-decoration: none;
        font-family: "Geometria";
        color: rgba(255, 255, 255, 0.952);
    }

    li {
        font-family: "Geometria";
        font-size: 12px;
    }



    .nav_categorie {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #5C5C5C;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }

    .nav_categorie li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .content-right {
        display: none;
    }

    .dropdown-child {
        display: none;
        position: absolute;
        width: 430px;
        background-color: #026173;
    }

    .dropdown:hover .dropdown-child {
        display: flex;
    }

    .dropdown-child li:hover,
    .showMore:hover {
        color: white;
        text-decoration: underline;
    }

    .news-content-body,
    .critique-content-body,
    .partage-content-body,
    .commerce-content-body {
        flex-direction: column;
    }

    .critique_contentRight,
    .critique_contentLeft,
    .news_contentLeft,
    .news_contentRight,
    .partage_contentLeft,
    .partage_contentRight,
    .commerce_contentRight,
    .commerce_contentLeft {
        width: 100%;
    }

}