.flex{
    display: flex;
    flex-wrap: wrap;
}
.main{
    justify-content: center;
    align-items: center;
}
.topCritique{
    border-radius: 5px;
    justify-content: center; 
}
.wrapCritique, .topCritique{
    height: 50vh;
    justify-content: space-between;
}
.bottomCritique{
    height: 25vh;
    margin: 20px;
    background-color: orangered;
}
.topCritique, .wrapCritique, .bottomCritique{
    width: 98%;
    margin-top: 20px;
}
.wrapperHResp{
    height: 100%;
    width: 65%;
}
.h2top{
    height: 10%;
    width: 100%;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.1);
}
.wrapCrittop{
    height: 100%;
    width: 35%;
    justify-content: space-between;
    align-items: center;
}
.baCritique{
    height: 90%;
    width: 100%;
    background-color: #fff;
}

.infoTop, .infoMid{
    height: 16.7%;
    width: 100%;
    margin: 0px;
    height: 14%;
    font-size: 18px;
    padding-left: 5px;
    margin-right:15px;
}
.infoTop, .infoMid, .noteUser{
    align-items: center;
    border-radius: 12px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.4);
}
.infoUser{
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.noteUser{
    width: 40%;
    height: 31%;
    justify-content: center;
    margin: 5px;
}

.midCritiLeft{
    width: 35%;
    height: 100%;
    border-radius: 5px;
}

.h2top, .midCritiLeft{
    letter-spacing: 0.5px;
}

.midCritiRight{
    height: 98%;
    width: 64%;
}

.bandeAnnonce{
    display: none;
}
.titreNone{
    display: none;
}
/* carousel */

	/* core styles */
	.isystkSlider {
	  position: relative;
      width: 100%;
      height: 100%;
	  max-width: 100%;
      overflow: hidden;
      background-color: palevioletred;
	}

	.isystkSlider .view-layer {
	  width: 578px;
	  max-width: 100%;
	  overflow: hidden;
	}

	.isystkSlider ul.parent{
	  margin-bottom:10px;
    }
    
	.isystkSlider li.child{
	  float:left;
    }
    
	.isystkSlider li.child p{
	  margin:0 5px 0 0;
	  border:solid 1px #dedede;
	  background:#fff;
	  padding:3px;
	}

	.isystkSlider img{
	  vertical-align: middle;
	}

	/* controls */
	.isystkSlider .prev-btn,
	.isystkSlider .next-btn{
	  position: absolute;
	  top: 50%;
	  margin-top: -1em;
	  width: 30px;
	}

	.isystkSlider .prev-btn img,
	.isystkSlider .next-btn img{
	  width: 30px;
	}
	 
	.isystkSlider .next-btn{
	  right: 0;
	}
	 
	.isystkSlider .paging {
	  display: flex;
	  justify-content: space-around;
	  padding: 0;
	  margin: 6px;
	  width: 565px;
	}

	.isystkSlider .paging p{
	  margin:0 5px 0 0;
	  border:solid 1px #dedede;
	  background:#fff;
	  padding:3px;
	}

	.isystkSlider .paging.dot {
	  width: 24%;
	  margin: 5px auto;
	}

	.isystkSlider .paging.dot li {
	  border: 1px solid #666;
	  border-radius: 50%;
	  width: 7px;
	  height: 7px;
	  list-style-type: none;
	}

	.isystkSlider .paging.dot li.active {
	  background: #666;
	}



@media screen and (min-width: 360px) and (max-width: 1024px){
    .topCritique, .wrapCritique{
        height: 100%;
        width: 100%;
        margin: 20px;
        justify-content: center;
      }
    .h2top{
        display: none;
        width: 100%;
        height: 15%;
    }
     .wrapCrittop, .bottomCritique, .midCritiLeft{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }
    .bandeAnnonce{
        display: flex;
        height: 50%;
        width: 100%;
        background-color: palevioletred;
    }
    .infoTop, .infoMid{
        height: 13%;
        margin-top: 10px;
    }
    .titreNone{
        display: flex;
        height: 10%;
        width: 60%;
    }
    .baCritique{
    display: none;
  }
}

