form{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.a-modal{
    width: 55%;
    height: 10%;
    margin: 40px;
    background-color: white;
    border-radius: 20px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.modal-content{ /*page de mon modal */
    position: fixed;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.modal-wrapper{ /* la boite qui contient les parties de mon formulaire*/
    width: 60%;
    height: 60%;
    overflow: auto;
    max-height: calc(100vw - 20px);
    max-width: calc(100vw - 20px);
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-wrap: wrap;
}
.h3{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #5C5C5C;
}
.wrapper-elements-ffs{ /* wrapper des inputs */
    width: 35%;
    height: 50%;
    margin: 5px;
    padding: 2px;
    border-radius: 20px;
    /* background-color: tomato; */
}
.wrapper-checkbox{
    width: 30%;
    height: 50%;
    margin: 5px;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    /* background-color: turquoise; */
}
.titre-checkbox{
    width: 100%;
    height: 12%;
    margin: 0;
    padding: 0;
}
.margin1{
    margin-left: 5px;
}

.colonne{
    width: 50%;
    height: 95%;
}
.colonne2{
    width: 50%;
    height: 95%;
}
.wrapper-elements-ffs-2{ /* wrapper des inputs */
    width: 30%;
    height: 50%;
    margin: 5px;
    border-radius: 20px;
    /* background-color: red; */
}
.margin2{
    margin-left: 20px;
}

/*
* Deuxième partie du formulaire
*/

.wrapper-mid-ffs2{
    width: 30%;
    height: 50%;
    margin: 5px;
    border-radius: 20px;

}
.wrapper-mid-ffs3{
    width: 100%;
    height: 25%;
    margin: 5px;
    border-radius: 20px;

}
.wrapper-acteur{
    width: 100%;
    height: 25%;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.wrapper-midBottom{
    width: 100%;
    height: 45%;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.submit{
    width: 100%;
    height: 7%;
    margin: 20px;
    display: flex;
    justify-content: center;
}
.margin3{
    margin: 2px;
}
