
#title-intro-critique {
    width: 100%;
    margin: auto;
    padding: 3%;
    background-color: #8d8d8d;
    text-align: center;

}

#title-intro-critique h2 {
    text-align: center;
    color: white;
    font-size: 1.7rem;

}

#choice_content {
    width: 100%;
    height: 600px;
    position: relative;
    
}

.movie_choice_content {

    position: absolute;
    transition: all 300ms ease-in;
    transform: scale(1);
    z-index: 1;
    width: 100%;
    height: 600px;
    clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%); /* change the calc height to a percentage height to get alternate responsive behavior*/
    background: url(../IMG/movie_choice.jpg) no-repeat center center fixed; /* Photo by Alex Avalos on Unsplash */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.movie_choice_textarea h2,.serie_choice_textarea h2 {
    text-align: center;
    width: 100%;
   
}

.movie_choice_content:hover,.serie_choice_content:hover {
    transition: all 400ms ease-in;
    transform: scale(1.08);
    z-index: 1;
    border: 1px solid wheat;
}

.movie_choice_textarea {
    margin-top: 20%;
    margin-left: 20%;
    width: 20%;
}
.serie_choice_content {
    position: absolute;
    transition: all 300ms ease-in;
    transform: scale(1);
    z-index: 1;
    width: 100%;
    height: 600px;
    clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 100% 0%);
    /* change the calc height to a percentage height to get alternate responsive behavior*/
    background: url(../IMG/serie_choice.jpg) no-repeat center center fixed; /*Photo by JESHOOTS.COM on Unsplash */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.serie_choice_textarea h2 {
 text-align: center;
    width: 100%;
   
}

.serie_choice_textarea {
    margin-left: 70%;
    margin-top: 10%;
    width: 20%;
}

/* Arrow */
.arrow_content {
    width: 100%;
    margin-top: 8%;
}

.arrows {
    display: block;
    width: 60px;
    height: 72px;
    margin: auto;
    text-align: center;
}

.arrows path {
    stroke: white;
    fill: transparent;
    stroke-width: 3px;
    animation: bounce 2s infinite, arrow 2s infinite;
    -webkit-animation: bounce arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    60% {
        opacity: 1
    }

    80% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
    {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    60% {
        opacity: 1
    }

    80% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
    }
}

.arrows path.a1 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari 和 Chrome */
}






@media screen and (max-width:1024px) {

    .movie_choice_textarea {
        margin-top: 40%;
        
    }

    .serie_choice_textarea {
        margin-top: 30%;
        
    }
}

@media screen and (max-width: 640px) {
    .movie_choice_textarea {
        margin-top: 90%;
        
    }

    .serie_choice_textarea {
        margin-top: 30%;
        
    }
  }