/* Modification de la div titleTop 
(ajout d'une largeur, d'une margin auto qui me permet de center mon bloc au centre de la page,
d'un padding qui me permet de modifier l'espacement interne d'un bloc) */
#titleTop {
    width: 100%;
    margin: auto;
    padding: 3%;
    background-color: #8d8d8d;
}

/* Modification de la div titleMiddle 
(ajout d'une height qui me permet de définir la hauteur, d'une margin-top et 
margin-bottom qui me permet de modifier l'espacement extérieur du bloc) */
#titleMiddle {
    width: 100%;
    margin: auto;
    padding: 1.8%;
    height: 22.5%;
    margin-top: 0%;
    margin-bottom: 5%;
    background-color: #8d8d8d;
}

/* Modification des titres h2 des div concernées
(Ajout d'un text-align:center qui me permet de centrer le text dans un bloc, color qui me permet de modifier
la couleur d'un texte et un font-size qui me permet de modifier la taille de la police) */
#titleTop h2,
#titleMiddle h2 {
    text-align: center;
    color: white;
    font-size: 1.7rem;

}


/* Carousel */
#carousel-section {
    padding: 4%;
}

.carousel-inner {
    margin: auto;
    width: 90%;
}

/* Modification de la class carousel-item
Ajout d'une transition qui me permet d'avoir un effet de mouvement et une durée d'animation de 0.6s */
.carousel-item {
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
    transition-property: transform, transform;
}

/* Modifiaction du positionement aboslute des 2 class concernées */
.carousel-control-prev {
    left: 10%;
}

.carousel-control-next {
    right: 10%;
}

.w-100{
    width: 100% !important;
    height: 800px;
}


/* Card  */

#news_section {
    width: 100%;
}

#news_fullContent {
    width: 100%;
    display: flex;

}

/* Ajout d'un display flex qui me permet de modifier la mise en forme du positionnement des éléments et
flex-wrap permet de faire descendre un bloc lorsqu'il n'a plus l'espace nécessaire */
.news_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Min width me permet de donner une largeur minimal aux blocs et Max width me permet de donner une largeur 
maximal aux bloc même principe avec height*/
.news {
    margin: auto;
    padding: 2%;
    min-width: 585px;
    min-height: 742px;
    max-width: 585px;
    max-height: 742px;

}

/* position relative me permet de définir la façon dont un élément est positionné dans un bloc 
 transition et transform me permet de faire une transition avec un effet de sur-élevation */
.card {
    position: relative;
    border: none;
    background-color: #5C5C5C;
    transition: all 300ms ease-in;
    transform: scale(1);
    z-index: 1;
    min-height: 670px;
    max-height: 670px;
}

/* hover est un propriété CSS qui me permet de modifier le style au moment du passage de la souris sur un 
élément, box-shadow me permet d'ajouter une ombre à un bloc  */ 
.card:hover {
    border: 2px solid white;
    transition: all 400ms ease-in;
    transform: scale(1.08);
    z-index: 1;
    box-shadow: 8px 6px 15px #8d8d8d;
}

.card-text-top {
    width: 100%;
    display: flex;

}

.card-text {
    min-height: 77px;
}

.card-title {
    width: 100%;
    font-size: 1.4rem;
}

.card-img-top {
    min-width: 100%;
    min-height: 320px;
    max-width: 100%;
    max-height: 320px;
}

.card-body {
    padding: 5%;
}

.footer_card_content {
    width: 100%;
    display: flex;
    align-content: flex-start;
    align-self: flex-end;
    justify-content: flex-end;
}

/* position absolute me permet de définir la façon dont un élément est positionné dans un bloc 
 qui contient une position relative de préférence, align-items définement l'alignement sur un axe du bloc
 ici il sera aligné à la fin du bloc parent, justify-self définit la façon dont une boîte 
 est alignée sur l'axe en ligne du conteneur. */
.autor_content {
    position: absolute;
    bottom: 7.5%;
    display: flex;
    padding: 5%;
    width: 30%;
    opacity: 0.4;
    align-items: flex-end;
    justify-self: end;
    margin-right: 0;
}

/* modifie la taille de l'image contenu dans le bloc .autor_content */ 
.autor_content img {
    width: 100%;
    max-width: 60px;
}

.autor_content:hover {

    opacity: 1;
}

.autor_content span {
    font-size: 0.8rem;
    text-align: center
}

/* display: block me permet de modifier le comportement inline du bouton pour pouvoir 
le centrer avec une margin auto */
.news .btn-primary {
    position: absolute;
    bottom: 2.5%;
    display: block;
    margin: auto;
    width: 90%;
    background-color: #026173;
    border: none;
    opacity: 0.9;
}

.btn_addNews {
    display: block;
    margin: auto;
    width: 20%;
    background-color: #026173;
    border: none;
    opacity: 0.9;
}

.news .btn-primary:hover {

    opacity: 1;
    border: 1px solid white;
}

.btn_addNews:hover {

    opacity: 1;
    background-color: #026173;
    border: 1px solid white;
}

/* amélioration ajout d'une date */
.content_date_news {
   
    position: absolute;
    text-align: center;
    top: 2.5%;
    right: 2.5%;
    border-radius: 80px;
    background-color: #026173;
    border: 0.5px solid white;
    padding: 2%;

}

/*amelioration_date*/ 
.date_news {

    font-size: 1.2rem;

}
#news_textPresentation,#news_textContenu,#news_textConclusion{
    height: 100px;
}
/* Arrow */
.arrow_content {
    width: 100%;
}

.arrows {
    display: block;
    width: 60px;
    height: 72px;
    margin: auto;
    margin-top: 4%;
    text-align: center;
}

/* stroke me permet d'ajouter un background-color au block , fill me permet de définir le 
remplissage du bloc, animation me permet d'ajouter une animation créer grâçe à un keyframe
*/
.arrows path {
    stroke: #026173;
    fill: transparent;
    stroke-width: 3px;
    animation: bounce 2s infinite, arrow 2s infinite;
    -webkit-animation: bounce arrow 2s infinite;
}

/* Le pourcentage défini le rendu que la flêche doit avoir à une certaine durée de l'animation
*/
@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    60% {
        opacity: 1
    }

    80% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
    {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    60% {
        opacity: 1
    }

    80% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
    }
}

.arrows path.a1 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari 和 Chrome */
}


/* Laptop */ 
@media screen and (min-device-width: 1200px) and (max-device-width: 1700px){
    .w-100{
        width: 100% !important;
        height: 600px;
    }

    #titleMiddle{
        height: 15%;
    }
    .news {
        min-width: 480px;
        min-height: 554px;
        max-width: 480px;
        max-height: 554px;
    }

    .card {
        min-width: 392px;
        min-height: 501px;
        max-width: 392px;
        max-height: 501px;
    }

    .card-img-top {
        min-width: 100%;
        min-height: 225px;
        max-width: 100%;
        max-height: 225px;
    }

    .card-body {
        padding: 1.25rem;
    }

    .carousel-inner {
        width: 90%;
    }


    .autor_content {
        position: absolute;
        bottom: 12%;
        padding: 0%;
        margin-right: 10%;
        width: 20%;
        opacity: 0.4;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .autor_content img {
        min-width: 40px;
        margin-right: 5%;
    }

    .news .btn-primary {
        position: absolute;
        bottom: 2.5%;
        width: 90%;
    }

}

/* Responsive MacBook écran rétina */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {

    .w-100{
        width: 100% !important;
        height: 600px;
    }
    #titleMiddle{
        height: 25%;
    }
    .news {
        min-width: 480px;
        min-height: 554px;
        max-width: 480px;
        max-height: 554px;
    }

    .card {
        min-width: 392px;
        min-height: 501px;
        max-width: 392px;
        max-height: 501px;
    }

    .card-img-top {
        min-width: 100%;
        min-height: 225px;
        max-width: 100%;
        max-height: 225px;
    }

    .card-body {
        padding: 5%;
    }
    .carousel-inner {
        width: 90%;
    }


    .autor_content {
        position: absolute;
        bottom: 12%;
        padding: 0%;
        margin-right: 10%;
        width: 20%;
        opacity: 0.4;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .autor_content img {
        min-width: 40px;
        margin-right: 5%;
    }

    .news .btn-primary {
        position: absolute;
        bottom: 2.5%;
        width: 90%;
    }
}

/* Responsive Tablette */
@media screen and (max-width:1024px) {
    .w-100{
        width: 100% !important;
        height: 400px;
    }

    #titleMiddle {

        padding: 6%;
        height: 15%;
        margin-top: 10%;
        margin-bottom: 10%;


    }

    .d-none {
        display: inline !important;
    }

    .d-none h5 {
        font-size: 1.1rem;
    }

    .d-none p {
        font-size: 0.75rem;
    }

    #titleTop {
        margin-bottom: 10%;
    }

    #titleTop h2,
    #titleMiddle h2 {
        text-align: center;
        color: white;
        font-size: 1.3rem;

    }

    .card-img-top {
        min-width: 100%;
        min-height: 200px;
        max-width: 100%;
        max-height: 200px;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-body {
        padding: 4%;
    }
    .card-text {
        font-size: 0.8rem;
    }

    .carousel-inner {
        width: 100%;
    }

    .news {
        width: 90%;
        padding: 7%;
        min-width: 50.5%;
        min-height: 100%;
        max-width: 70.5%;
        max-height: 100%;
    }

    .card {
        margin: auto;
        min-width: 100%;
        min-height: 500px;
        max-width: 100%;
        max-height: 500px;
    }

    .autor_content {
        position: absolute;
        bottom: 10%;
        right: 0;
        width: 45%;
    }

    .autor_content img {
        max-width: 40px;
    }

    .news .btn-primary {
        position: absolute;
        bottom: 2.5%;
        width: 90%;
    }

    .news .btn-primary {
        left: 0;
        right: 0;
    }


}

  /* Styles tablette paysage */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    .w-100{
        width: 100% !important;
        height: 600px;
    }
  
    #titleMiddle {
       
        height: 30%;
       
    }

    .card-img-top {
        min-width: 100%;
        min-height: 240px;
        max-width: 100%;
        max-height: 240px;
    }
    }

/* Responsive smartphone */
@media screen and (max-width: 640px) {

    .w-100:active{
        background-image: url('../include/uploads/Disney-plus-mobile.jpg');
    }
    .d-none {
        display: inline !important;
        position: absolute;
        bottom: 0;
    }
    .w-100{
        width: 100% !important;
        height: 200px;
    }

    #news_fullContent {

        flex-direction: column;
        margin-bottom: 40%;
    }

    .news {
        min-width: 100%;
        min-height: 50%;
        max-width: 100%;
        max-height: 50%;
    }

    .card {
        min-width: 82.5%;
        min-height: 500px;
        max-width: 82.5%;
        max-height: 500px;
    }

    .autor_content {
        width: 50%;
        margin-right: 0;
    }

    .autor_content img {
        max-width: 40px;
    }

    .news .btn-primary {
        left: 0;
        right: 0;
    }

}

/* Styles smartphone paysage */
@media only screen and (min-width : 321px) and (max-width: 980px) and (orientation : landscape){
    #titleMiddle {
       
        height: 40%;
       
    }
    } 